# Python bytecode
__pycache__/
*.pyc
*.pyo

# Temp files
.tmp*

# Environment variables
.env

# Virtual environment
venv/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Uploads (if stored locally)
uploads/
